{% extends "layouts/base.html" %}
{% load static file_extension info_value %}

{% block extrastyle %}
<style>
  ul li {
    list-style-type: none;
  }
  .dot-separator {
    height: 2px;
    width: 2px;
    background: #000;
    border-radius: 50%;
  }
  .actions span {
    cursor: pointer;
  }
  .modal {
    z-index: 99999 !important;
  }
</style>
{% endblock extrastyle %}

{% block content %}

<div class="container-fluid py-4 px-5">
    <div class="row">
      <div class="col-lg-3 border py-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
              {% if forloop.last %}
                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
              {% else %}
                {% if breadcrumb.name|lower == 'media' %}
                  <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.name }}</li>
                {% else %}
                  <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
          </ol>
        </nav>
        <ul class="">
          {% for directory in directories %}
            {% if directory.directories %}
            <li class="">
              <i class="fas fa-folder"></i>
              <a
                data-bs-toggle="collapse"
                href="#collapse{{directory.id}}"
                role="button"
                aria-expanded="false"
                aria-controls="collapse{{directory.id}}"
                onclick="window.location.href = '{% url 'file_manager:file_manager' directory.path|encoded_path %}';"
              >
                {{ directory.name }}
              </a>
            </li>
            {% include 'includes/subdirectories.html' with directory=directory depth=depth|add:"3" %}
          {% else %}
            <li>
              <i class="fas fa-folder"></i>
              <a href="{% url 'file_manager:file_manager' directory.path|encoded_path %}">{{ directory.name }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-9 border py-2">
        <div class="d-flex justify-content-start mb-3">
          <label for="fileInput">
            <i class="fas fa-upload text-primary fs-3"></i>
          </label>
          <div class="upload-section mt-3" style="display: none;">
            <div class="d-flex justify-content-end">
              <div>
                <form id="upload-form" action="{% url 'file_manager:upload_file' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="directory" value="{{selected_directory}}">
                  <input id="fileInput" class="d-none" onchange="document.getElementById('upload-form').submit();" type="file" name="file" required>
                </form>
              </div>
              {% if files %}
                {% include 'file_manager/components/batch_operations.html' %}
                {{files|length|json_script:"files-count"}}
                {% include 'file_manager/components/file_list_partial.html' %}
                {% include 'file_manager/components/modals.html' %}
              {% else %}
                <p>No files</p>
                {% include 'file_manager/components/modals.html' %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}
